<ion-view title="Valoracion Preanestesica">
    <ion-content>
      <!-- The content of the page -->
      	<ion-list>
		  <ion-item href="#/neurocirugia/">
		    Neurocirugia
		  </ion-item>
		  <ion-item >
		    Cabeza y Cuello
		  </ion-item>
		  <ion-item href="#/torax">
		    Cirugia de torax
		  </ion-item>
		  <ion-item href="#/general">
		    Cirugia General
		  </ion-item>
		  <ion-item href="#/colorectal">
		    Cirugia Colorectal
		  </ion-item>
		  <ion-item >
		    Urologica
		  </ion-item>
		  <ion-item >
		    Ginecologica
		  </ion-item>
		  <ion-item >
		    Ortopedica
		  </ion-item>
		</ion-list>

    </ion-content>
</ion-view>